.logo {
    color: #000000;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.logo__web {
    color: var(--accent-color);
}
@media screen and (min-width: 768px){
    .logo {
        margin-right: 92px;
    }
}
@media screen and (min-width: 1200px) {
    .logo{
        font-size: 26px;
        line-height: 1.19;
        margin-right: 92px;
    }
    
}
